In [131]:
import pandas as pd
data=pd.read_csv("doji2.csv")

In [132]:
data.head()

   body 1  body2  body3  label
0    1.08   0.27   0.27      2
1    1.05   0.28   0.04      4
2    0.22   0.32   0.83      1
3    0.95   0.19   0.08      2
4    0.44   0.16   0.40      5

# Data Analysis

In [133]:
data.isnull().sum()

body 1    0
body2     0
body3     0
label     0
dtype: int64

In [134]:
output_data=data['label']

In [135]:
training_data=data[['body 1','body2','body3']]

In [136]:
from sklearn.model_selection import train_test_split

In [137]:
X,x_test,Y,y_test=train_test_split(training_data,output_data,test_size=0.10,random_state=42)

# Decision Tree Classifier

In [138]:
from sklearn.tree import DecisionTreeClassifier

In [139]:
decision_model=DecisionTreeClassifier()

In [140]:
decision_model.fit(X,Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [141]:
p=decision_model.predict(x_test)

In [142]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [143]:
x_test

    body 1  body2  body3
75    0.41   0.04   0.62
0     1.08   0.27   0.27
70    0.00   0.11   1.42
22    0.01   0.16   1.29
12    0.30   0.03   0.82
56    0.31   1.85   0.56
10    0.94   0.12   0.16
18    0.42   0.54   2.00
4     0.44   0.16   0.40

In [144]:
y_test

75    5
0     2
70    7
22    3
12    8
56    2
10    6
18    4
4     5
Name: label, dtype: int64

In [182]:
a=pd.DataFrame([[0,0,0]])

In [183]:
a

   0  1  2
0  0  0  0

In [194]:
p=decision_model.predict(x_test)

In [195]:
p

array([8, 4, 4, 3, 5, 1, 6, 3, 4], dtype=int64)

In [192]:
from sklearn.metrics import mean_squared_error
from math import sqrt

In [196]:
rmse=sqrt(mean_squared_error(p,y_test))
rmse

1.9436506316151

# Support Vector Machines

In [185]:
from sklearn import svm, datasets

In [186]:
#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

In [187]:
#Train the model using the training sets
clf.fit(X,Y)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [188]:
#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [189]:
y_pred

array([8, 2, 1, 1, 8, 1, 6, 1, 8], dtype=int64)

In [197]:
we=clf.predict(a)

In [198]:
we

array([5], dtype=int64)